#FRONTEND

workChronosFRONT/node_modules/
workChronosFRONT/dist/
workChronosFRONT/tmp/
workChronosFRONT/out-tsc/
workChronosFRONT/coverage/
workChronosFRONT/.angular/cache
workChronosFRONT/.vscode/
!workChronosFRONT/.vscode/settings.json
!workChronosFRONT/.vscode/tasks.json
!workChronosFRONT/.vscode/launch.json
!workChronosFRONT/.vscode/extensions.json


### BACKEND ##

workchronosAPI/.gradle/
workchronosAPI/build/
workchronosAPI/.idea/
workchronosAPI/*.iws
workchronosAPI/*.iml
workchronosAPI/*.ipr
workchronosAPI/out/
workchronosAPI/.apt_generated
workchronosAPI/.classpath
workchronosAPI/.factorypath
workchronosAPI/.project
workchronosAPI/.settings/
workchronosAPI/.sts4-cache
workchronosAPI/bin/
workchronosAPI/nbproject/private/
workchronosAPI/nbbuild/
workchronosAPI/dist/
workchronosAPI/nbdist/
workchronosAPI/.nb-gradle/
workchronosAPI/.vscode/